<div [ngClass]="{'folder-card': !clicked, 'clicked-folder-card': clicked}">
    <div class="folder-name" (click)="openFolder()">
        <h5 class="m-0">{{folder.name}}</h5>
    </div>
    <div class="actions mb-2">
        <div class="action-button">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openFolderEditionDialog()">Edit</button>
              <button mat-menu-item (click)="deleteFolder()">Delete</button>
            </mat-menu>
        </div>
        <div class="action-button">
            <button mat-icon-button (click)="openFileInputDialog()">
                <mat-icon>post_add</mat-icon>
            </button>
        </div>
    </div>
</div>

<div *ngIf="clicked">
    <div *ngIf="!files || files.length == 0" class="file-list" style="background-color: white; color: black; padding-left: 10px;">
        Empty folder
    </div>
    <div class="file-list">
        <file-card *ngFor="let file of files" [file]="file"></file-card>
    </div>
</div>