@import '../../../styles.scss';

.folder-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-blue;
    min-height: 6vh;
    max-height: 6vh;
    width: 14vw;
    border-radius: 5px;
    padding: 12px;
}

.clicked-folder-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $dark-blue;
    max-height: 5vh;
    width: 14vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 12px;
}

.folder-name {
    min-width: 70%;
    max-width: 70%;
}

.actions {
    display: flex;
    justify-content:space-evenly;
    min-width: 30%;
    max-width: 30%;

    .action-button {
        display: inline-block;
        margin-right: 15px;
        max-width: 15%;
    }
}

.file-list {
    overflow-y: auto;
    max-height: 22vh;
    width: 14vw;
    border-bottom-left-radius: 5px;
}

@media (max-width: 1600px) {
    .folder-card {
        width: 16vw;
    }

    .file-list {
        width: 16vw;
    }

    .clicked-folder-card {
        width: 16vw;
    }
    
}