@import '../../../styles.scss';


.wrapper {
    display: flex;
    justify-content: center;
    min-width: 65vw;
    min-height: 86vh;
    margin: 20px;
    padding-top: 15vh;
}

.table-container {
    min-width: 65vw;
    max-height: 86vh;
}

.table-container {
    min-width: 65vw;
    max-height: 50vh;
    overflow-y: auto;
}

table {
    width: 100%;
}

.mat-header-cell {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    /* Optional: to make the header stand out */
}

.header-row {
    background: linear-gradient($metallic-blue, #36404f);
    background-color: $metallic-blue;
}

.filter-input {
    margin-top: 10px;
    width: 250px;
}

.white {
    color: $ice-gray;
}