<div class="top-bar">
    <div class="logo">
        <div class="logo-circle">
            <img style="height: 3.5vh" src="../assets/logo.svg" alt="Logo">
        </div>
    </div>
    <div class="title">
        <h2>Doc & Share</h2>
    </div>
    <div style="width: 33vw">

    </div>
</div>

<div class="row w-100">
    <div class="side-bar col pr-0">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label class="tab-header">
                    <div class="text-white">My Folders</div>
                </ng-template>
                <div class="add-button-row">
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>create_new_folder</mat-icon>
                    </button>
                </div>
                <div class="folder-list">
                    <div *ngFor="let folder of folders" class="folder-wrapper">
                        <folder-card [folder]="folder"></folder-card>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label class="tab-header">
                    <div class="text-white">Imported</div>
                </ng-template>
                <div class="add-button-row">
                    
                </div>
                <div class="folder-list">
                    <div *ngFor="let folder of folders2" class="folder-wrapper">
                        <folder-card [folder]="folder"></folder-card>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>

    <div class="page-content col">
        <folder-search></folder-search>
    </div>
</div>